h1 {
    color: #ed583f;
    text-align: center;
    font-family: Arial;
    font-size: xxx-large;
}

p {
    color: #ed583f;
    text-align: center;
}
body {
    background-color: #f3e7d8;
}
.content {
    display: flex;
    margin: 2px;
}